
<div>
  <div>
    <h1>
      List of all todos
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new task
    </h2>

    

<% categories = ['Math', 'Reading', 'Writing'] %>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" label for="category_id_box">Subject</button>
  <ul class="dropdown-menu">
    <% categories.each do |category| %>
      <li><a class="dropdown-item" href="#"><%= category %></a></li>
    <% end %>
  </ul>
</div>

<form action="/insert_todo" method="post">
      <div>
        <label for="content_box">
          Describe task
        </label>
        <input type="text" id="content_box" name="query_content">
      </div>

    <div>
  <label for="status_box">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="status_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Status
      </button>
      <ul class="dropdown-menu" aria-labelledby="status_dropdown">
        <li><a class="dropdown-item" href="#">New</a></li>
        <li><a class="dropdown-item" href="#">In Progress</a></li>
        <li><a class="dropdown-item" href="#">Completed</a></li>
      </ul>
    </div>
  </label>
</div>

        <input type="text" id="status_box" name="query_status">
      </div>

      <div>
        <label for="user_name_box">
          Username
        </label>

        <input type="text" id="user_name_box" name="query_user_id">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id">
      </div>

      <button>
        Create todo
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Content
        </th>

        <th>
          Status
        </th>

        <th>
          User
        </th>

        <th>
          Category
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_todos.each do |a_todo| %>
      <tr>
        <td>
          <%= a_todo.id %>
        </td>

        <td>
          <%= a_todo.content %>
        </td>

        <td>
          <%= a_todo.status %>
        </td>

        <td>
          <%= a_todo.user_id %>
        </td>

        <td>
          <%= a_todo.category_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_todo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_todo.updated_at) %> ago
        </td>

        <td>
          <a href="/todos/<%= a_todo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
