
<div class="table-responsive-sm">
  <table class="table table-sm text-white mb-0">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Task</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
    <% @list_of_todos.each do |todo| %>
      <tr class="fw-normal">
        <td>
          <span class="ms-2"><%= todo.category.description %></span> 
        </td>
        <td class="align-middle">
          <%= todo.content %><!--<a href="/delete_todo/<%= todo.id %>">Delete</a>--><p><%= time_ago_in_words(todo.created_at) %> ago</p>
          <% if todo.status == "up_next" %>
            <form action="/modify_todo/<%= todo.id %>" method="post">
              <input type="hidden" name="query_status" value="next_up">
              <button type="button" class="btn btn-outline-light btn-sm">start</button>
            </form>
          <% end %>
        </td>
        <td class="align-middle">
          <% if todo.status == "done" %>
            <span class="badge" style="background-color: #508BFC;">
              Completed: <%= todo.updated_at.strftime("%l:%M%P on %D") %>
              <a href="/delete_todo/<%= todo.id %>" class="btn btn-outline-light" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem;">Delete</a>
            </span>
          <% else %>
            <div class="in-progrerss" style="display:flex;">            
            <span class="badge" style="background-color: #ce68ae;">
              In progress: <%= todo.updated_at.strftime("%l:%M%P on %D") %>
          
            <a href="/delete_todo/<%= todo.id %>" class="btn btn-outline-light" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem;">Delete</a>
            </span>

            <form action="/modify_todo/<%= todo.id %>" method="post">
              <div class="d-flex justify-content-around">
                <input type="hidden" name="query_status" value="done">
                <button class="btn" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem; background-color: #9CE2D3;">✔️</button>
              </div>
            </form>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <br>
  <br>
</div>
