<div class="container">
  <div class="row">
    <div class="col-md-8">
      <section class="" >
      <div class="container">
         <div class="card mask-custom">
            <div class="card-body p-4 text-white">
            <div class="well-name" >
               <h3 class="welcome">
                  Hi <%= @current_user.username %>! Today is <%= @today %>
               </h3>
            </div>
            <%= render "form" %>
            </div>
         </div>
         <%= render "todos/progress" %>
         <div class="card mask-custom">
            <div class="card-body p-4 text-white">
            <div class="text-center pt-3 pb-2">
               <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                  alt="Check" width="60">
               <h2 class="my-4">Task List</h2>
            </div>
            <%= render "todos/table" %>
            </div>
         </div>
      </section>
    </div>
  
    <div class="col-md-4">
<!-- circle cards with resources --->
      <div class="container"> 
         <div class="row">
         <!-- card1 -->
            <div class="card card-circle">
               <div class="card-icon">
                  <i class="fa-regular fa-calculator" style="color: #fcfcfc;"></i>
               </div>
               <div class="card-body">
                  <a href="https://www.ixl.com/math/grade-3/division-facts-for-6-7-8-and-9-sorting" class="btn btn-primary">GO</a>
               </div>
            </div>
            <!-- card2 -->
            <div class="card card-circle">
               <div class="card-icon">
                  <i class="fa-brands fa-google-drive" style="color: #fcfcfc;"></i>
               </div>
               <div class="card-body">
                  <a href="https://docs.google.com/presentation/d/1Oj1rMTFfSjSsyMgr5F_LTERLBQ_hfb_xT57tirPWPd8/edit?usp=sharing" class="btn btn-primary">GO</a>
               </div>
            </div>
            <!-- card3 -->
            <div class="card card-circle ">
               <div class="card-icon">
                  <i class="fa-solid fa-book" style="color: #fcfcfc;"></i>
               </div>
               <div class="card-body">
                  <a href="https://www.raz-kids.com/" class="btn btn-primary">GO</a>
               </div>
            </div>
         </div>
      </div>
<!-- trasnparent card for Chat GPT --->
      <div class="mask-custom " style="width: 25rem;">
            <div class="card-chat gap-3 card-body p-4 text-white">
            <div class="chat" >
               <h3 class="chat">
                  Hi 
               </h3>
            </div>
            </div>
      </div>  
     <!--  add render page -->
    </div>

   </div>
</div>
