<div id="box1"><div class="well-name" ><h2 class="welcome"><%= @username %> name </h2><%= render "form" %></div>

    <div id="box2">
      <h5>Complete before the end of the day: <%= Date.today %></h5>
      <!-- new code --->
          <ul>
        <% @list_of_todos.each do |todo| %>
          <% if todo.status == "next_up" %>
            <li><%= todo.content %><a href="/delete_todo/<%= todo.id %>">Delete</a>Started <%= time_ago_in_words(todo.updated_at).gsub(/about /, '') %> ago </li>

            <form action="/modify_todo/<%= todo.id %>" method="post">
              <input type="hidden" name="query_status" value="done">
              <button>Move to Done</button>
            </form>
          <% end %>
        <% end %>
      </ul> 
         <ul>
            <% @list_of_todos.each do |todo| %>
            <li><%= todo.content %><a href="/delete_todo/<%= todo.id %>">Delete</a><p><%= time_ago_in_words(todo.created_at) %> ago</p></li>
          </ul>
          <form action="/modify_todo/<%= todo.id %>" method="post">
              <input type="hidden" name="query_status" value="next_up">
              <button>In Progress</button>
            </form>
            <% end %>

              <div class="done">-->
    <!-- make the done items gray out, move to the bottom, or cross out -->
    <h2>Achievements</h2>
      
      <ul>
        <% @list_of_todos.each do |todo| %>
          <% if todo.status == "done" %>
          <% time = Time.now %>
            <li><%= todo.content %><a href="/delete_todo/<%= todo.id %>">Delete</a> <p>Completed at <%= todo.updated_at.strftime("%l:%M%P on %d-%b-%Y") %> ago</p></li>
          <% end %>
        <% end %>
      </ul>
    </div>


      <!-- stops --->
       
    </div>

    <div id="box3">
      <h1>hello</h1>
    </div>

   <!--<div id="box4">
      <h1>hello</h1>
    </div>-->

</div>
