<section class="gradient-custom-2">
  <div class="container">
    <div class="card mask-custom">
      <div class="card-body p-4 text-white">
        <div class="well-name" >
          <h3 class="welcome">
            Hi <%= @current_user.username %>! Today is <%= @today %>
          </h3>
        </div>
        <%= render "form" %>
      </div>
    </div>
    <%= render "todos/progress" %>
    <div class="card mask-custom">
      <div class="card-body p-4 text-white">
        <div class="text-center pt-3 pb-2">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
            alt="Check" width="60">
          <h2 class="my-4">Task List</h2>
        </div>
        <%= render "todos/table" %>
      </div>
    </div>
</section>

<div class="container"> <!-- circle cards with resources --->
   <div class="row">
     <!-- card1 -->
      <div class="card card-circle">
         <div class="card-icon">
            <i class="fas fa-apple-alt"></i>
         </div>
         <div class="card-body">
            <a href="#" class="btn btn-primary">GO</a>
         </div>
      </div>
      <!-- card2 -->
      <div class="card card-circle">
         <div class="card-icon">
            <i class="fas fa-cookie"></i>
         </div>
         <div class="card-body">
            <a href="#" class="btn btn-primary">GO</a>
         </div>
      </div>
      <!-- card3 -->
      <div class="card card-circle ">
         <div class="card-icon">
            <i class="fa-solid fa-book" style="color: #fcfcfc;"></i>
         </div>
         <div class="card-body">
            <a href="#" class="btn btn-primary">GO</a>
         </div>
      </div>
   </div>
</div>
